*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    transform: scale(1.5);
    transform: rotate(45deg);
    background-color: rgb(135, 135, 153);
    box-shadow: 14px 14px  10px rgb(141, 148, 212);
    border-radius: 50%;
}

.box{
    border-radius: 20%;
    width: 200px;
    height: 200px;
    background:#000000;
    transition: transform 0.5s ease-out;
    transition: border-radius 0.2s ease;
    
}